.App {
  display: flex;
  flex-direction: row;
}

.todoList {
  width: 300px;
  margin: 2vw 2vw;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}

.filter-active {
  background-color: green;
}

.error {
  border-color: red;
}
.todoList-task.done {
  opacity: 0.5;
}

.add-task {
  margin: 2vw 2vh;
}